src/main/mule/updateAccount.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="updateAccountFlow" doc:id="e4beec56-51fd-4d98-83c2-44afe22dbe40" >
		<logger level="INFO" doc:name="Logger" doc:id="4ae3ecf4-c36c-4e2a-8b97-e3056f142b99" message="update account flow starts here..................."/>
		<db:update doc:name="Update" doc:id="9340e22b-78da-43d6-83cc-bead065926f1" config-ref="Database_Config">
			<db:sql ><![CDATA[UPADTE account SET name=:name, phone=:mobileNo, email= :emailId WHERE accountId = :accountId;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
accountId : attributes.queryParams.accountId,
name : payload.name,
phone : payload.mobileNo,
email : payload.emailId 

}]]]></db:input-parameters>
		</db:update>
		<ee:transform doc:name="Transform Message" doc:id="34ff6a58-528d-4f78-9b86-b7dd9ccd8ff3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
    "status code": 200,
    "message": "Account deleted successfully"
 }  ]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
